.delivery {
    &__heading {
        justify-content: flex-start;
        align-items: center;

        @media screen and (max-width: 450px) {
            flex-direction: column;
            align-items: baseline;
        }
    }

    &__title {
        @media screen and (min-width: 451px) {
            margin-right: 19px;
        }
    }

    &__status {
        @media screen and (max-width: 450px) {
            margin-top: 10px;
        }
    }

    &__details {
        display: flex;
        @include adaptiv-value("margin-bottom", 39, 24, 1);

        @media screen and (max-width: 991px) {
            flex-direction: column-reverse;
        }

        @media screen and (max-width: 400px) {
            .delivery-card__column--price {
                .form-row {
                    width: 100%;
                }

                .form-control {
                    width: 100%;
                }
            }

            .delivery-card__column--weight {
                .form-row {
                    width: 100%;
                }

                .quantity {
                    width: 100%;
                    max-width: 100%;

                    &__wrapper {
                        width: 100%;
                    }
                }
            }
        }
    }

    &__left {
        flex: 1 1 auto;
        @include adaptiv-value("margin-right", 34, 0, 1);

        @media screen and (max-width: 991px) {
            margin-right: 0;
        }
    }

    &__card {
        background-color: $White;
        border-radius: 3px;
        margin-bottom: 39px;
    }

    &__right {
        flex: 0 0 292px;

        @media screen and (max-width: $layoutDesktop - 0.02 + "px") {
            flex: 0 0 24%;
        }
        @media screen and (max-width: 991px) {
            margin-bottom: 24px;
        }
    }

    .order-terms__condition-title {
        @media screen and (max-width: $layoutDesktop - 0.02 + "px") {
            font-size: calc(14px + 2 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
            line-height: calc(21 / 16);
        }
    }

    .add-application__add {
        @include adaptiv-value("margin-top", 34, 24, 1);
    }

    &__tools {
        width: 100%;
        display: inline-flex;
        justify-content: flex-end;

        a {
            display: inline-flex;
            align-items: center;
            color: $Gray;
            transition: 0.3s ease color 0s;
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }

            @media screen and (min-width: 992px) {
                &:hover {
                    color: rgba($color: $Gray, $alpha: 0.6);
                }
            }

            i {
                font-size: 18px;
            }
        }
    }

    &__edit-save {
        width: 21px;
        height: 23px;
        background-color: $GreenM;
        border-radius: 3px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s ease background-color 0s !important;

        @media screen and (min-width: 992px) {
            &:hover {
                background-color: rgba($color: $GreenM, $alpha: 0.6);
            }
        }

        i {
            font-size: 7px !important;
            color: $White;
        }
    }

    &__attention-wrapper {
        background-color: $LBlue;
        border-radius: 3px;
        margin: 45px 0;
        padding: 20px 30px;
        @include adaptiv-value("padding-left", 30, 15, 1);
        @include adaptiv-value("padding-right", 30, 15, 1);
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        line-height: 21px;

        @media screen and (max-width: $layoutDesktop - 0.02 + "px") {
            font-size: calc(14px + 2 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
            line-height: calc(21 / 16);
        }
        @media screen and (max-width: 767px) {
            flex-direction: column;
            align-items: baseline;
        }
    }

    &__attention-left {
        padding-right: 15px;
        max-width: 455px;

        @media screen and (min-width: $layoutDesktop + "px") {
            max-width: 55%;
        }
        @media screen and (max-width: 767px) {
            padding: 0px 0px 20px 0px;
        }
    }

    &__attention-right {
        @media screen and (max-width: 767px) {
            width: 100%;
        }
    }

    &__attention-tools {
        display: flex;
        align-items: center;

        @media screen and (max-width: 767px) {
            width: 100%;
            justify-content: flex-end;
        }
        @media screen and (max-width: 450px) {
            flex-direction: column;
        }
    }

    .delivery__attention-tools--column {
        @media screen and (max-width: 450px) {
            flex-direction: column;
            align-items: flex-end;

            a {
                margin: 0px 0px 15px 0px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__attention-cancel {
        font-weight: 400;
        color: $DGray;
        transition: 0.3s ease color 0s;

        @media screen and (min-width: 992px) {
            &:hover {
                color: rgba($color: $DGray, $alpha: 0.6);

                &::before {
                    border-bottom: 1px solid rgba($color: $DGray, $alpha: 0.6);
                }
            }
        }

        &::before {
            border-bottom: 1px solid $DGray;
            transition: 0.3s ease border-color 0s;
        }
    }

    &__attention-save {
        padding: 12px 20px;
        font-size: 18px;
        line-height: 23px;

        @media screen and (max-width: $layoutDesktop - 0.02 + "px") {
            font-size: calc(16px + 2 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
            line-height: calc(23 / 18);
        }
    }

    &__attention-btn {
        @include adaptiv-value("margin-right", 25, 15, 1);

        @media screen and (max-width: 450px) {
            width: 100%;
            margin: 0 0 15px;

            &:last-child {
                margin-bottom: 0;
            }

            &.text-link {
                width: initial;
            }
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__assembled {
        max-width: 300px;
    }

    &__form {
        @include adaptiv-value("margin-top", 34, 24, 1);
    }

    .form {
        &-row {
            margin: 0 -11px;
        }

        &-group {
            padding: 0 11px;
            @include adaptiv-value("margin-bottom", 24, 20, 1);

            &--invalid {
                .form-control {
                    border-color: $Red;
                }

                .form-error {
                    display: block;
                }
            }

            &--valid {
                .form-control {
                    border-color: $GreenM;
                }
            }
        }

        &-label {
            margin-bottom: 12px;
        }

        &-control {
            height: 41px;
            background-color: $LGray3;
            border-color: $LGray3;
            font-size: 16px;
            line-height: 21px;
            color: $Black;

            &::placeholder {
                color: $Gray;
                transition: 0.3s ease opacity 0s;
            }

            &:focus {
                box-shadow: none;

                &::placeholder {
                    opacity: 0;
                }
            }
        }

        &-error {
            font-size: 10px;
            line-height: 1;
            color: $Red;
            margin: 5px 0;
            display: none;
        }
    }

    &__form-save {
        @media screen and (max-width: 450px) {
            padding: 10px 15px;
        }
    }

    &__form-reset {
        background-color: transparent;
        color: $DGray;
        font-size: 14px;
        line-height: 18px;

        &::before {
            display: none;
        }
    }

    .to-cart__quantity {
        .quantity__wrapper {
            height: 30px;
            width: 100px;
            padding: 0 12px;

            @media screen and (max-width: 450px) {
                width: 85px;
            }
        }
        .quantity__input input {
            height: 30px;
            width: 44px;
            padding: 0;
            font-size: 14px;
            line-height: 18px;
            color: $Black;

            @media screen and (max-width: 450px) {
                width: 30px;
            }
        }
    }
}

.notice {
    position: relative;
    display: inline-flex;

    &__btn {
        display: inline-flex;

        @media screen and (min-width: 992px) {
            &:hover {
                img {
                    opacity: 0.6;
                }
            }
        }

        img {
            transition: 0.3s ease opacity 0s;
        }
    }

    &__wrapper {
        font-size: 14px;
        line-height: 15px;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translate(0, 100%);
        z-index: 2;
        width: 275px;
        padding: 10px;
        background-color: $White;
        box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.15);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: 0.3s ease all 0s;

        @media screen and (max-width: $layoutDesktop - 0.02 + "px") {
            font-size: calc(12px + 2 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
            line-height: calc(15 / 14);
        }
        @media screen and (max-width: 575px) {
            left: 50%;
            transform: translate(-50%, 100%);
        }

        &.active {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
        }

        ul {
            margin: 0;
        }

        li {
            font-weight: 500;
        }
    }

    .quantity {
        width: 100%;
        max-width: 117px;
        height: 30px;

        &__wrapper {
            padding-right: 12px;
        }

        input {
            height: 30px;
            font-size: 14px;
            padding: 6px 12px;
        }
    }
}

.delivery-report {
    .popup {
        &__content {
            max-width: 500px;
        }
    }

    &__title {
        @include adaptiv-value("margin-bottom", 25, 20, 1);
        font-size: 18px;
        line-height: 23px;

        @media screen and (max-width: $layoutDesktop - 0.02 + "px") {
            font-size: calc(14px + 4 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
            line-height: calc(23 / 18);
        }
    }

    &__label {
        text-align: right;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: $Gray;
        padding-bottom: 8px;
        border-bottom: 1px solid $LGray3;
        padding-right: 2px;
    }

    .accordion {
        &__item {
            padding: 12.5px 0;
            border-bottom: 1px solid $LGray3;
        }

        &__title {
            padding: 0 12.5px;
            @include adaptiv-value("padding-left", 50, 20, 1);
            display: flex;
            align-items: center;
            justify-content: space-between;

            &::before,
            &::after {
                background-color: $Gray;
                right: auto;
                height: 2px;
                border-radius: 3px;
            }
            &::before {
                @include adaptiv-value("left", 15, 0, 1);
            }
            &::after {
                @include adaptiv-value("left", 21, 6, 1);
            }
        }

        &__text {
            padding-top: 20px;
            @include adaptiv-value("padding-bottom", 17.5, 7.5, 1);
        }
    }

    .product-item {
        &__product-name {
            font-weight: 600;
            font-size: 16px;
            line-height: 21px;
        }

        &__product {
            @include adaptiv-value("padding-right", 10, 6, 1);
        }
    }

    &__accepted-delivered {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: $DGray;
        white-space: nowrap;
    }

    .form {
        &-row {
            @include adaptiv-value("margin-left", -22, -11, 0);
            @include adaptiv-value("margin-right", -22, -11, 0);
        }

        &-group {
            @include adaptiv-value("padding-left", 22, 11, 0);
            @include adaptiv-value("padding-right", 22, 11, 0);
        }

        &-label {
            margin-bottom: 10px;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: $Gray;
        }
    }

    .to-cart__quantity {
        .quantity__wrapper {
            height: 41px;
            width: 100%;

            @media screen and (max-width: 450px) {
                width: 100%;
            }
        }
        .quantity__input input {
            height: 41px;
            color: $Gray;
        }
    }

    textarea {
        height: 62px !important;
        width: 100%;
        resize: none;
        padding: 10px 12px;
    }

    &__button {
        @include adaptiv-value("margin-top", 44, 20, 1);

        button {
            width: 100%;
        }
    }
}

.deliveries-documents__documents {
    font-weight: 400;

    .deliveries-documents__document {
        font-weight: 400;

        &--success {
            .deliveries-documents__document {
                margin-right: 16px;
            }

            i.icon-check {
                background-color: $GreenM;
                color: $White;
                width: 21px;
                height: 23px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                font-size: 7px;
                border-radius: 3px;
            }
        }
    }

    .add-application__add {
        @include adaptiv-value("margin-top", 24, 20, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        color: $DGray;
        position: relative;
        width: 100%;
        height: 48px;
        border: 1px dashed $LGray3;
        transition: 0.3s ease opacity 0s;

        @media screen and (min-width: 992px) {
            &:hover {
                opacity: 0.6;
            }
        }

        input {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            font-size: 0;
            opacity: 0;
            cursor: pointer;
        }
    }
}

.delivery-details {
    @media screen and (min-width: 992px) {
        position: sticky;
        top: calc(#{$size-header-height} + 5px);
    }

    &__wrapper {
        @include adaptiv-value("padding", 20, 15, 1);
        background-color: $White;
    }

    &__item {
        @include adaptiv-value("margin-bottom", 22, 10, 1);
        @include adaptiv-value("padding-bottom", 22, 10, 1);
        border-bottom: 1px solid $LGray3;

        &:last-child {
            border-bottom: 0;
            padding-bottom: 0;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 16px;
        line-height: 21px;
        color: $Black;

        @media screen and (max-width: $layoutDesktop - 0.02 + "px") {
            font-size: calc(14px + 2 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
            line-height: calc(21 / 16);
        }
    }

    p {
        font-size: 14px;
        line-height: 18px;
        color: $DGray;

        @media screen and (max-width: $layoutDesktop - 0.02 + "px") {
            font-size: calc(12px + 2 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
            line-height: calc(18 / 14);
        }
    }

    .text-link,
    .btn {
        font-size: 16px;
        line-height: 21px;

        @media screen and (max-width: $layoutDesktop - 0.02 + "px") {
            font-size: calc(14px + 2 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
            line-height: calc(21 / 16);
        }
    }

    .text-link {
        &::before {
            border-bottom: 1px solid $GreenM;
        }
    }
}
