// image-full ------------------------------------------------------------------------------------------------------------------------------------------------------------------------
.image-full {
    overflow: hidden;

    @media screen and (min-width: 767px) {
        display: flex;
    }

    .container {
        width: 100%;
        display: flex;
        align-items: center;
    }

    &__content {
        flex: 0 0 100%;
        display: flex;
    }

    &__body {
        padding: 66px 15px 66px 0;

        @media screen and (min-width: 767px) {
            width: 40%;
        }
    }

    &__image {
        @media screen and (min-width: 767px) {
            position: relative;
            flex: 0 0 calc(((100vw - 40px) * 0.6) + 20px);
            transform: translate(-100%, 0);

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: left;
            }
        }
        @media screen and (min-width: $layoutDesktop + "px") {
            flex: 0 0 calc(50vw - (0.4 - 0.5) * (#{$size-container}px - 40px));
        }
    }
}

// distribution ------------------------------------------------------------------------------------------------------------------------------------------------------------------------
.distribution {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &:first-child {
        @include adaptiv-value("padding-top", 96, 40, 1);
    }

    &__title {
        text-align: center;

        &:not(:last-child) {
            @include adaptiv-value("margin-bottom", 96, 40, 1);
        }
    }

    &__map {
        display: flex;
        justify-content: center;
        border-radius: 3px;
        position: relative;
        padding-bottom: math.div(660px, 1134px) * 100%;

        @media screen and (max-width: 767px) {
            padding-bottom: 350px;
        }

        #map {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }

        img {
            box-shadow: 0px 94px 94px -60px rgba(0, 0, 0, 0.15);
        }
    }
}

// distribution-details ------------------------------------------------------------------------------------------------------------------------------------------------------------------------
.distribution-details {
    @include adaptiv-value("margin-bottom", 80, 64, 1);

    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column-reverse;
    }

    &__heading {
        &:not(:last-child) {
            margin-bottom: 48px;
        }

        & > * {
            &:not(:last-child) {
                margin-bottom: 24px;
            }
        }
    }

    &__subtitle {
        font-weight: 600;
        @include adaptiv-font(30, 33, 26, 1);
        @include adaptiv-value("letter-spacing", 0.09, 0.078, 1);
        color: #ddd;
    }

    &__title {
        font-weight: 600;
        @include adaptiv-font(50, 55, 24, 1);
    }

    .image-full {
        &__body {
            @include adaptiv-value("padding-top", 150, 48, 0);
            @include adaptiv-value("padding-bottom", 150, 48, 0);

            @media screen and (min-width: 768px) {
                width: 40%;
            }
            @media screen and (max-width: 767px) {
                padding-bottom: 0;
            }
        }

        &__image {
            @media screen and (min-width: 768px) {
                flex: 0 0 calc(((100vw - 40px) * 0.6) + 20px);
            }

            img {
                object-fit: contain;
                object-position: right;
            }
        }
    }
}

// distribution-requirements ------------------------------------------------------------------------------------------------------------------------------------------------------------------------
.distribution-requirements {
    @include adaptiv-value("margin-bottom", 136, 64, 1);

    &__title {
        &:not(:last-child) {
            @include adaptiv-value("margin-bottom", 98, 48, 1);
        }
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        margin-top: -24px;
        margin-bottom: -24px;
        @include adaptiv-value("margin-left", -18, -10, 1);
        @include adaptiv-value("margin-right", -18, -10, 1);
    }

    &__item {
        flex: 0 0 33.333%;
        padding-top: 24px;
        padding-bottom: 24px;
        @include adaptiv-value("padding-left", 18, 10, 1);
        @include adaptiv-value("padding-right", 18, 10, 1);

        @media screen and (max-width: 767px) {
            flex: 0 0 50%;
        }
        @media screen and (max-width: 450px) {
            flex: 0 0 100%;
        }
    }

    &__item-title {
        font-weight: 600;
        @include adaptiv-font(24, 26, 16, 1);

        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }

    &__item-text {
    }
}

// distribution-gallery  ------------------------------------------------------------------------------------------------------------------------------------------------------------------------
.distribution-gallery {
    @include adaptiv-value("margin-bottom", 136, 80, 1);

    &__container {
        display: grid;
        grid-template-columns: 50% 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        @include adaptiv-value("gap", 30, 8, 1);

        @media screen and (max-width: 767px) {
            grid-template: repeat(2, 1fr) / repeat(2, 1fr);
        }
    }

    &__image {
        position: relative;
        padding-bottom: math.div(261px, 261px) * 100%;

        &:first-child {
            @media screen and (min-width: 768px) {
                grid-row-start: 1;
                grid-row-end: 3;
            }
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
