.firstscreen {
	@include adaptiv-value("padding-top", 136, 30, 1);
	@include adaptiv-value("padding-bottom", 115, 30, 1);
	@include adaptiv-value("margin-bottom", -417, 0, 1);
	overflow-x: hidden;

	@media screen and (max-width: 767px) {
		overflow: hidden;
	}
	@media screen and (min-width: 2560px) {
		margin-bottom: -100px;
	}
	@media screen and (min-width: 2200px) {
		margin-bottom: -200px;
	}
	@media screen and (min-width: 1600px) {
		@include adaptiv-value("margin-bottom", -300, 0, 1);
	}
	@media screen and (min-width: 1440px) {
		@include adaptiv-value("margin-bottom", -350, 0, 1);
	}

	&__row {
		display: flex;

		@media screen and (max-width: 575px) {
			display: block;
			margin: 0 -15px;
		}
	}

	&__content {
		flex: 0 0 45.5%;
		padding-right: 20px;

		@media screen and (max-width: 575px) {
			margin-bottom: 35px;
			padding: 0 15px;
		}
	}

	&__title {
		@include adaptiv-value("margin-bottom", 74, 30, 1);
		max-width: 476px;

		@media screen and (min-width: $layoutDesktop + "px") {
			max-width: 100%;
		}
		@media screen and (max-width: 575px) {
			max-width: 100%;
		}
	}

	&__text {
		max-width: 410px;
		font-size: 28px;
		line-height: 36px;

		@media screen and (min-width: $layoutDesktop + "px") {
			max-width: 78%;
		}
		@media screen and (max-width: $layoutDesktop - 0.02 + "px") {
			font-size: calc(22px + 6 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
			line-height: calc(36 / 28);
		}
		@media screen and (max-width: 575px) {
			max-width: 100%;
		}
	}

	&__image {
		flex: 0 0 100%;
		@include adaptiv-value("margin-top", -53, 0, 0);

		@media screen and (max-width: 575px) {
			margin: 150px 0 0;
			transform: scale(1.6);
			transform-origin: 0;
		}
		@media screen and (max-width: 450px) {
			margin-top: 120px;
		}
		@media screen and (max-width: 400px) {
			margin-top: 100px;
		}

		svg {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
}

#carrotLabel,
#potatoLabel,
#appleLabel,
#products,
#success {
	opacity: 0;
}

#car {
	transform: translate(120px, -79px);
}

// !firstscreen end