// === Sizes ===
$size-container: 1217;
$layoutDesktop: 1366;
$layoutMobile: 320;
$size-header-height: 76px;
$size-header-height-mobile: 54px;
$size-inner-header-height-mobile: 91px;

// === Font ===
$fontMain: "Futura PT";
$fontWeight: 400;
$fontSize: 16px;
$fontSizeMobile: 12;
$lineHeight: 21px;

// === Color ===
$Black: #090909;
$White: #ffffff;
$Gray: #919191;
$Gray2: #909090;
$Gray3: #737373;
$LGray: #c4c4c4;
$LGray2: #f2f2f2;
$LGray3: #ececec;
$LGray4: #f5f5f5;
$DGray: #595959;
$DGray2: #363636;
$Green: #46c269;
$Green2: #3db05e;
$Green3: #bcfcb1;
$GreenM: #1d9f3a;
$LBlue: #dfe8eb;
$Blue: #1f5ace;
$Orange: #f6f8ae;
$Orange2: #f9dabe;
$Pink: #f9dabe;
$Yellow: #ffcc4a;
$Yellow2: #e1f7a5;
$Red: #eb5151;

$transition: 0.3s