.catalog {
    &__top {
        margin-bottom: 6px;

        @media screen and (max-width: 450px) {
            margin-bottom: 14px;
        }

        .checkbox {
            &__label {
                font-size: 14px;
                line-height: 18px;
                color: $DGray;
                text-decoration: underline;
                transition: 0.3s ease all 0s;

                &::before,
                &::after {
                    display: none;
                }
            }

            &__input:checked + .checkbox__label {
                text-decoration: none;
                color: $GreenM;
            }
        }

        .options {
            &__item {
                display: flex;

                &.active {
                    .options__label {
                        color: $DGray;
                    }
                }
            }

            &__label {
                color: $LGray;
                padding: 0;
                transition: 0.3s ease color 0s;

                @media screen and (min-width: 992px) {
                    &:hover {
                        color: rgba($color: $LGray, $alpha: 0.6);
                    }
                }

                &::before,
                &::after {
                    display: none;
                }
            }
        }
    }

    &__top-desktop {
        @media screen and (max-width: 450px) {
            display: none;
        }
    }

    &__top-mobile {
        @media screen and (min-width: 451px) {
            display: none;
        }

        .select__title {
            border: 0;
            background-color: transparent;
        }

        .select__value {
            padding: 0;
            height: initial;
            font-size: 12px;
            line-height: 15px;
            color: $DGray;

            &::before {
                margin-left: 6px;
            }
        }

        .select__options {
            border-radius: 4px;
            border: 1px solid $LGray3;
            font-size: 14px;
            line-height: 15px;
            white-space: nowrap;
            bottom: -10px;
        }
    }

    &__products {
        @include adaptiv-value("margin-left", -19, -7, 1);
        @include adaptiv-value("margin-right", -19, -7, 1);

        @media screen and (max-width: 575px) {
            margin: 0;
        }

        &--list {
            margin: 27px 0 0;

            @media screen and (min-width: $layoutDesktop + "px") {
                padding-bottom: 20px;
            }
        }
    }

    &__products--card {
        display: flex;
        flex-wrap: wrap;

        .product-item {
            display: flex;
            flex: 0 0 50%;
            padding: 20px;
            @include adaptiv-value("padding-left", 19, 7, 1);
            @include adaptiv-value("padding-right", 19, 7, 1);

            @media screen and (max-width: 575px) {
                flex: 0 0 100%;
                padding: 10px 0;
            }

            &__wrapper {
                position: relative;
                padding: 17px 23px 21px 23px;
                @include adaptiv-value("padding-left", 23, 15, 1);
                @include adaptiv-value("padding-right", 23, 15, 1);
                width: 100%;
                display: flex;
                flex-direction: column;
                transition: 0.3s ease all 0s;

                &:hover {
                    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
                    border-radius: 3px 3px 0 0;

                    .product-item__cart {
                        border-radius: 3px 0 0 0;
                    }

                    .product-popup {
                        box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
                        opacity: 1;
                        visibility: visible;
                        pointer-events: auto;
                    }
                }
            }

            &__body-wrapper {
                position: relative;
            }

            &__heading {
                display: flex;
                justify-content: space-between;
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                padding-bottom: 20px;
                color: $Gray;

                @media screen and (max-height: 768px) {
                    padding-bottom: calc(10px + (20 - 10) * ((100vh - 650px) / (768 - 650)));
                }

                @media screen and (max-height: 650px) {
                    padding-bottom: 5px;
                }
            }

            &__person {
                color: $DGray;
                padding-right: 10px;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
            }

            &__owner {
                @include adaptiv-value("margin-right", 14, 5, 1);
                margin-bottom: 5px;
                transition: 0.3s ease all 0s;
            }

            &__company {
                @include adaptiv-value("margin-right", 14, 5, 1);
                margin-bottom: 5px;

                @media screen and (max-width: 991px) {
                    display: none;
                }
            }

            &__tax {
                margin-bottom: 5px;

                @media screen and (max-width: 991px) {
                    display: none;
                }
            }

            &__location {
                margin-bottom: 5px;

                span {
                    margin-right: 6px;
                }
            }

            &__content {
                margin-bottom: 22px;

                @media screen and (max-height: 768px) {
                    margin-bottom: calc(10px + (22 - 10) * ((100vh - 650px) / (768 - 650)));
                }

                @media screen and (max-height: 650px) {
                    margin-bottom: 15px;
                }

                @media screen and (max-width: 991px) {
                    flex-direction: column;
                    align-items: baseline;
                }
            }

            &__product {
                @media screen and (max-width: 991px) {
                    margin-bottom: 12px;
                }
            }

            &__product-name {
                padding-right: 15px;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;

                @media screen and (max-width: 991px) {
                    padding: 0;
                }
            }

            &__footer {
                display: flex;
                align-items: center;
            }

            &__price {
                font-weight: 800;
                margin-right: 20px;
            }

            &__cart {
                border-radius: 3px 0px;
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }

        .product-popup {
            padding: 10px 23px 10px 23px;
            @include adaptiv-value("padding-left", 23, 15, 1);
            @include adaptiv-value("padding-right", 23, 15, 1);
            border-radius: 0 0 3px 3px;
        }
    }

    &__products--card-group {
        .catalog__group-title {
            font-weight: 400;
            margin-bottom: 4px;

            @media screen and (max-width: 575px) {
                margin-bottom: 10px;
            }
        }

        .catalog__products-group {
            margin: 20px 0;

            @media screen and (max-width: 450px) {
                margin: 0 0 20px;
            }
        }
    }

    &__products--list {
        .catalog__group-title {
            font-weight: 600;
            background-color: $White;
            padding: 10px;
            border-bottom: 1px solid $LGray3;
        }

        .product-item {
            &__table {
                background-color: $LBlue;
                margin: 0;
                border-radius: 3px;

                @media screen and (min-width: $layoutDesktop + "px") {
                    overflow: visible;
                }
            }

            &__wrapper {
                display: flex;
                width: 100%;
            }

            &__row {
                @media screen and (max-width: $layoutDesktop - 0.02 + "px") {
                    flex-direction: column;
                }
            }

            &__content {
                flex-wrap: wrap;
            }

            &__product {
                flex: initial;
                padding: 5px 0;
            }

            &__product-name {
                font-size: 16px;
                line-height: 21px;
                margin-right: 10px;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }

            &__category {
                padding: 5px;
            }

            &__location {
                flex-direction: row-reverse;

                span {
                    font-weight: 600;
                }

                i {
                    margin-right: 6px;
                }
            }

            &__price {
                font-size: 14px;
                line-height: 18px;
            }

            &__descr {
                font-size: 14px;
                line-height: 18px;
            }

            &__cart {
                @media screen and (min-width: $layoutDesktop + "px") {
                    opacity: 0;
                    pointer-events: none;
                    visibility: hidden;
                    transition: 0.3s ease all 0s;
                }
            }
        }

        .product-popup {
            @media screen and (max-width: $layoutDesktop - 0.02 + "px") {
                opacity: 1;
                visibility: visible;
                pointer-events: auto;
                position: relative;
                transform: translate(0);
            }
            @media screen and (max-width: 991px) {
                display: none;
            }

            &__row {
                margin: 0;
            }

            &__column {
                padding: 6px 10px;
                flex: 1 1 auto;
                background-color: $LBlue;

                &--size {
                    white-space: nowrap;
                }

                &--descr {
                    min-width: 300px;
                }
            }

            &__title {
                margin-right: 8px;
            }
        }
    }
}

.catalog-filter {
    display: flex;
    padding-right: 15px;
    flex: 1 1 auto;

    @media screen and (max-width: 991px) {
        display: none;
    }

    &__checkbox {
        margin-right: 28px;

        &:last-child {
            margin: 0;
        }

        @media screen and (max-width: 1200px) {
            margin-right: 15px;
        }

        &.active {
            .checkbox__label {
                text-decoration: none;
                color: $GreenM;
            }
        }

        .checkbox__label {
            padding: 0;
        }
    }
}

.catalog-sorting {
    display: flex;

    &__item {
        margin-right: 36px;

        &:last-child {
            margin-right: 30px;
        }

        @media screen and (max-width: 1200px) {
            margin-right: 15px;

            &:last-child {
                margin-right: 15px;
            }
        }
    }

    &__link {
        display: flex;
        align-items: center;
        color: $Gray;
        font-size: 14px;
        line-height: 18px;

        span {
            margin-right: 6px;
        }

        img {
            padding-top: 3px;
            transition: 0.3s ease all 0s;
        }

        &.active {
            img {
                transform: rotate(-180deg);
            }
        }
    }
}

.catalog-output {
    @media screen and (max-width: 991px) {
        flex: 1 1 auto;
        display: flex;
        justify-content: flex-end;
    }

    &__options {
        display: flex;
    }

    .options__item {
        margin: 0;
        @include adaptiv-value("margin-right", 16, 10, 1);
        font-size: 19px;

        &:last-child {
            margin: 0;
        }
    }

    .options__label {
        margin: 0;
    }
}
