.to-cart {
    &__content {
        max-width: 488px;
        background-color: $White;
        color: $Black;
        padding: 22px 33px 31px;
        @include adaptiv-value("padding-left", 33, 15, 1);
        @include adaptiv-value("padding-right", 33, 15, 1);

        @media screen and (min-width: $layoutDesktop + "px") {
            max-width: 36%;
        }
    }

    &__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include adaptiv-value("margin-bottom", 35, 15, 1);
    }

    &__title {
        padding-right: 15px;
    }

    .popup__close {
        position: initial;
    }

    &__body {
        font-size: 16px;
        line-height: 21px;
        @include adaptiv-value("margin-bottom", 30, 15, 1);

        .product-item__product {
            display: flex;
            align-items: center;
            @include adaptiv-value("margin-bottom", 30, 15, 1);
        }

        .product-item__product-image {
            margin-right: 10px;
        }
    }

    &__quantity {
        display: flex;
        align-items: center;
        width: auto;
        max-width: 170px;
        height: auto;

        .quantity {
            &__wrapper {
                display: flex;
                align-items: center;
                width: 100%;
                background-color: $LGray3;
                border-radius: 3px;
                color: $Gray3;
                padding-right: 18px;
            }

            &__input {
                input {
                    background-color: $LGray3;
                    padding: 14px 18px;
                    text-align: left;
                    color: $Gray3;
                    border-radius: 3px;
                }
            }

            &__button {
                &::before,
                &::after {
                    background-color: $Gray3;
                    width: 9px;
                    height: 2px;
                }
            }
        }
    }

    &__measure {
        @include adaptiv-value("padding-left", 14, 6, 1);
        font-weight: 600;

        .select__title {
            text-decoration: none !important;
            min-width: initial !important;
            transition: 0.3s ease color 0s;

            @media screen and (min-width: 992px) {
                &:hover {
                    color: $Blue;

                    &::after {
                        border-bottom-color: $Blue;
                    }
                }
            }

            &::after {
                content: "";
                display: block;
                width: 100%;
                height: 1px;
                border-bottom: 1px dashed $Black;
                position: absolute;
                bottom: -2px;
                left: 0;
                transition: 0.3s ease border-color 0s;
            }
        }

        .select__value {
            padding: 0;
            justify-content: flex-end;
        }

        .select__options {
            bottom: -5px;
        }
    }

    &__footer {
        @media screen and (min-width: 451px) {
            display: flex;
        }
    }

    &__label {
        flex: 1 1 auto;
        margin-right: 47px;
        font-weight: 600;
        font-size: 18px;
        line-height: 23px;

        @media screen and (max-width: 450px) {
            margin: 0px 0px 20px 0px;
        }
    }

    &__weight {
        white-space: nowrap;
    }

    &__summary {
        white-space: nowrap;
    }

    &__button {
        button {
            display: flex;
            align-items: center;

            @media screen and (max-width: 450px) {
                width: 100%;
            }

            span {
                font-size: 18px;
                line-height: 23px;
                min-width: 99px;
                margin-right: 10px;
            }

            i {
                font-size: 22px;
                display: flex;
            }
        }
    }
}

.to-cart__measure {
    @include adaptiv-value("padding-left", 14, 8, 1);

    .select {
        &__title {
            border: 0;
            border-radius: 0;
            font-weight: 600;
            font-size: 14px;
            line-height: 1;
            text-decoration: underline dashed;
            background-color: transparent;
        }

        &__value {
            height: auto;
            font-size: 14px;
            line-height: 1;
            padding: 0;

            &::before {
                display: none;
            }
        }

        &__options {
            border: 1px solid $LGray3;
            bottom: -5px;
            background-color: $White;
        }

        &__option {
            text-align: left;
            font-size: 14px;
        }
    }
}

.add-comment {
    max-width: 3767px;

    .form__input {
        background-color: $LGray3;
    }

    .to-cart__button {
        width: 100%;

        button {
            width: 100%;
            span {
                margin: 0;
            }
        }
    }
}
